*.exe

".gitignore, es un nombre que se le puede dar tanto a un archivo como a una carpeta, este sirve para poner archivos que no se quiere o necesita tener en cuenta para el proyecto en el repositorio. Sin embargo están ahí por si son requerimiento de otro archivo o directorio en el proyecto."